
.ipynb_checkpoints/Task_1_2_3_5-checkpoint.ipynb
.ipynb_checkpoints/Task_2-checkpoint.ipynb
.ipynb_checkpoints/Task_3-checkpoint.ipynb
.ipynb_checkpoints/Task_4-checkpoint.ipynb
Additional Files/.DS_Store
