
.ipynb_checkpoints/Task_1_2_3_5-checkpoint.ipynb
.ipynb_checkpoints/Task_2-checkpoint.ipynb
.ipynb_checkpoints/Task_3-checkpoint.ipynb
.ipynb_checkpoints/Task_4-checkpoint.ipynb
Additional Files/.DS_Store
Exercise_2/SIRvisualization/__pycache__/utils.cpython-37.pyc
Exercise_2/.DS_Store
Exercise_2/SIRvisualization/.DS_Store
.DS_Store
.DS_Store
